.body9 {
    width: 100%;
}
.body8 {
    background-color: white;
}
.body8 {
    width: 90%;
}
.formPageTitle {
    display: none;
}
svg {
    height: auto;
}
path {
    height: auto;
}
.arrow {
    cursor: pointer;
    height: 35px;
}
.arrow, .rqI {
    align-self: flex-start;
}
.rqI {
    margin-left: 10px;
}
.rqI > span:first-child {
    color: #FF0000;
    font-size: 18px;
    font-family: Kadwa;
    font-weight: 400;
    word-wrap: break-word
}
.rqI > span:nth-child(2) {
    color: #FF0000;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    word-wrap: break-word
}

.frame40 {
    width: 93%;
    height: 3px;
    margin: 0 auto 20px auto;
    background: black;
    border-radius: 5px
}
form {
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
form .part1,
form .part3,
form .part4,
form .part5 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
form .part1 .eachDiv,
form .part3 .eachDiv,
form .part4 .eachDiv,
form .part5 .eachDiv {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
form .part5 .eachDiv {
    gap: 0;
}
form .part5 .eachDiv .q1,
form .part5 .eachDiv .q2,
form .part5 .eachDiv .q3,
form .part5 .eachDiv .q4,
form .part5 .eachDiv .q5,
form .part5 .eachDiv .q6, .cmt {
    color: #333333;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word
}
form .part5 .eachDiv .q1 span,
form .part5 .eachDiv .q2 span,
form .part5 .eachDiv .q3 span,
form .part5 .eachDiv .q4 span,
form .part5 .eachDiv .q5 span,
form .part5 .eachDiv .q6 span,
form .part5 .cmtspan {
    display: none;
}
form .part5 .eachDiv .op1 {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 1px;
    margin-left: 20px;
}
form .part5 .eachDiv .op1 div {
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    word-wrap: break-word;
    width: 40%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-grow: 1;
}
form .part5 .eachDiv .op1 div input {
    width: 25px;
}
form label {
    width: auto;
}
form label > span:first-child {
    color: #333333;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 700;
    line-height: 15px;
    word-wrap: break-word
}
form label > span:nth-child(2) {
    color: #FF0000;
    font-size: 25px;
    font-family: Kadwa;
    font-weight: 700;
    line-height: 20px;
    word-wrap: break-word
}
input[type=text], input[type=email], input[type=date], input[type=number]{
    outline: none;
    height: 20px;
    width: auto;
    padding: 17px 0 18px 21px;
}
select {
    height: 100%;
    padding: 17px 0 18px 21px;
    width: auto;
}
input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50px;
    height: 25px;
    border: 0.1px solid #aaa;
    border-radius: 50%;
    outline: none;
    margin-right: 5px;
    align-self: center;
    cursor: pointer;
}
input[type="radio"]:checked {
    background-color: #008000;
}
input[type="radio"]:hover {
    background-color: #808080;
}
.cympcm-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.in-cympcm {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: auto;
}
form .cympcm {
    font-family: Kadwa;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
    text-align: center
}
form .cympcm > span:first-child {
    color: #333333;
    font-size: 16px;
}
form .cympcm > span:nth-child(2) {
    color: #FF0000;
    font-size: 25px;
}
form .cympcm-container .in-cympcm div {
    display: flex;
    column-gap: 10px;
}
form .cympcm-container div label {
    display: flex;
    align-items: center;
}
form .cympcm-container div input {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    outline: 1px solid #999DA0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
form .cympcm-container div input:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f192";
    font-size: 50px;
    color: white;
    display: none;
}
form .cympcm-container div input:hover {
    background-color: #a5a5a5;
}
form .cympcm-container div input:checked {
    background-color: #008000;
}
form .cympcm-container div input:checked:after {
    display: block;
}
textarea {
    width: auto;
    height: 166px;
    padding: 31px 0 0 16px;
}
textarea:focus {
    outline: none;
}
form .ianar {
    height: 79px;
    width: 293px;
    display: flex;
    margin-left: 2px;
    background: rgba(239.26, 239.26, 239.26, 0.45);
    justify-content: space-evenly;
    align-items: center;
}
form .ianar .check-ianar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
form .ianar .check-ianar label {
    color: #808080;
    font-size: 15px;
    font-family: Roboto Flex;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
.chkb {
    width: 35px;
    height: 35px;
    border-radius: 10px;
    outline: 1px solid #999DA0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chkb:after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 35px;
    color: white;
    display: none;
}
.chkb:hover {
    background-color: #a5a5a5;
}
.chkb:checked {
    background-color: #008000;
}
.chkb:checked:after {
    display: block;
}
.ianar .reCAPTCHA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ianar .reCAPTCHA .imageRecapt {
    width: 53px;
    height: 45px;
}
.ianar .reCAPTCHA p {
    color: #808080;
    font-size: 11px;
    font-family: Roboto Flex;
    font-weight: 400;
    word-wrap: break-word
}
.ianar .reCAPTCHA div {
    display: flex;
    justify-content: center;
    gap: 2px;
}
.form-submit {
    width: 195px;
    height: 50px;
    color: black;
    background-color: #FDDA0D;
    font-size: 16px;
    border: none;
    margin-bottom: 10px;
    margin-left: 2px;
    border-radius: 10px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    cursor: pointer;
}
.referCP {
    display: flex;
    gap: 10px;
    border-right: none;
    border-left: none;
    border-top: 0.50px rgba(153, 157, 160, 0.70) solid;
    border-bottom: 0.50px rgba(153, 157, 160, 0.70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}
.referCircle {
    width: 35px;
    height: 35px;
    background-color: #008000;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.referPlus {
    height: auto;
    width: auto;
    font-weight: 900px;
    font-size: 40px;
    font-family: Kadwa;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
    align-self: center;
    align-items: center;
    align-content: center;
    color: white;
}
.data-form {
    margin-top: 10px;
}
.isLoading {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}

@media (min-width: 510px) {
    form .part5 .eachDiv .op1 {
        width: 300px;
    }
}
@media (min-width: 878px) {
    .arrow {
        display: none;
    }
    .body8 {
        width: 80%;
        margin: 80px 800px;
        padding: 50px 30px;
    }
    section .heroSection1 {
        display: flex;
        width: auto;
        height: auto;
    }
    section .heroSection1 img {
        width: 100%;
        height: 100%;
    }
    .formPageTitle {
        width: auto;
        height: 100%;
        color: #008000;
        font-size: 25px;
        font-family: Kadwa;
        font-weight: 700;
        line-height: 30px;
        word-wrap: break-word;
        margin: 0 auto;
        position: relative;
        top: 40px;
        display: block;
    }
    form .part1,
    form .part3,
    form .part4 {
        flex-direction: row;
        flex-wrap: wrap;
    }
    form .part1 .name,
    form .part3 .cmt {
        width: 100%;
    }
    form .part5 .eachDiv .q1,
    form .part5 .eachDiv .q2,
    form .part5 .eachDiv .q3,
    form .part5 .eachDiv .q4,
    form .part5 .eachDiv .q5,
    form .part5 .eachDiv .q6, .cmt {
        color: #333333;
        font-size: 20px;
        font-family: Kadwa;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 20px;
        text-transform: uppercase;
        word-wrap: break-word
    }
    form .part5 .eachDiv .q1 span,
    form .part5 .eachDiv .q2 span,
    form .part5 .eachDiv .q3 span,
    form .part5 .eachDiv .q4 span,
    form .part5 .eachDiv .q5 span,
    form .part5 .eachDiv .q6 span,
    form .part5 .cmtspan {
        display: inline-block;
        color: #FF0000;
        font-size: 25px;
        font-family: Kadwa;
        font-weight: 700;
        line-height: 20px;
        word-wrap: break-word
    }
    form .part5 .eachDiv .op1 {
        width: 550px;
        row-gap: 10px;
    }
    form .part5 .eachDiv .op1 div {
        margin-right: 50px;
        justify-content: space-between;

    }
    form .part5 .eachDiv .op1 div input {
        width: 30px;
        height: 30px;
    }
    form .part1 .address,
    form .part1 .city,
    form .part1 .state,
    form .part1 .zipCode,
    form .part3 .emailAddres,
    form .part3 .fCode,
    form .part3 .phNum,
    form .part3 .ptz,
    form .part3 .pfd,
    form .part3 .pft,
    form .part4 .name1,
    form .part4 .emailA,
    form .part4 .refer {
        width: 40%;
        flex-grow: 1;
    }
    form .eachDiv .ptz:first-child, 
    form .eachDiv .pfd:first-child,
    form .eachDiv .pft:first-child,
    form .eachDiv .emailA:first-child,
    form .eachDiv .refer {
        width: 100%;
    }
    form .eachDiv label {
        width: 100%;
    }
}