* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F3FDF3;
    overflow-x: hidden;
    position: relative;
}
::selection {
    background-color: #FDDA0D;
}
html {
    font-family: 'Kadwa', serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style: none;
}
header {
    width: 90%;
    display: flex;
    padding: 8px 0px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    background: white;
}
.logo2,
header .nav-bar .logo1 {
    width: 221px;
    height: 40px;
    justify-content: center ;
    align-items: center;
    gap: 5px;
    display: flex;
}
.logo2 .image1,
header .nav-bar .logo1 .image2 {
    width: 35px; 
    height: 35px;
}
header .cntct {
    display: none;
}
.logo2 .gshcs,
header .nav-bar .logo1 .gshcs2 {
    width: 181px;
    height: 41px;
    color: #008000;
    font-size: 15px;
    font-family: 'Kadwa', serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    word-wrap: break-word;
}
.nav_overlay {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100vh;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}
.nav_overlay.active {
    display: block;
}
header .nav-bar {
    background-color: #008000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    right: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    text-align: center; 
    transition: 0.5s ease-in-out all;
    transform: translateX(100%);
    overflow-x: hidden;
    z-index: 2;
}
.nav-bar nav {
    background-color: white;
}
header .nav-bar .logo1 {
    width: 168px;
    height: auto;
    margin: 30px 0;
    margin-left: 0;
}
header .nav-bar .logo1 .gshcs2 {
    font-size: 10px;
    line-height: 15px;
    text-align: start;
    height: auto;
}
header .nav-bar .closeButton {
    width: 30px;
    right: 0;
    top: 25px;
    position: absolute;
    height: 41px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    display: flex
}
header .nav-bar .closeButton .x {
    color: #FF0000;
    font-size: 20px;
    font-family: Roboto Flex;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 20px;
    word-wrap: break-word
}
header .nav-bar .closeButton .close {
    color: #FF0000;
    font-size: 10px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 10px;
    word-wrap: break-word
}
.line8 {
    width: auto;
    height: 100%;
    border: 0.1rem #FDDA0D solid;
    display: none;
}
.nav-bar .nav-list {
    position: relative;
    background-color: #008000;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    top: 0;
}
.nav-bar .nav-list li {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar .nav-list li:first-child {
    margin: 30px auto 0 auto;
    background-color: white;
    width: 80%;
    border-radius: 10px;
}
.nav-bar .nav-list li a {
    color: white;
    font-size: 14px;
    font-family: Kadwa;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 13px;
    word-wrap: break-word
}
.nav-bar .nav-list li:first-child a {
    height: 100%;
    align-items: center;
    display: flex;
    color: black;
}
header .nav-bar.nav-toggle {
    width: 60%;
    right: 5%;
    transform: translateX(0%);
}
header .nav-bar menu.close {
    transform: translateX(0%);
}
header .hamburgerMenu {
    width: auto;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 0;
    cursor: pointer;
    align-items: flex-end;
}
header .hamburgerMenu .menu {
    display: inline-block;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 10px;
}
header .hamburgerMenu .menu .icon {
    height: 2px;
    width: 20px;
    background-color: black;
    position: relative;
    transition: .5s ease all;
}
header .hamburgerMenu .menu .icon::before,
header .hamburgerMenu .menu .icon::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 20px;
    background-color: black;
    transition: .5s ease all;
}
header .hamburgerMenu .menu .icon::before {
    top: -5px;
    left: 0;
}
header .hamburgerMenu .menu .icon::after {
    bottom: -5px;
    left: 0;
}
header .hamburgerMenu .menu2 {
    line-height: 100%;
    cursor: pointer;
}
.body1 {
    width: 90%;
}
section .heroSection {
    width: 100%;
    height: 280px;
    padding: 56px 0 45px 0;
    background: linear-gradient(0deg, rgba(211, 211, 211, 0.40) 100%, rgba(0, 0, 0, 0.90) 100%), url(../images/def585db45666696f3864f5cfc73bc0b.jpeg), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: center;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 33px;
    display: flex;
}
section .heroSection .heroCopy {
    position: relative;
    margin-left: 15px;
    height: 193px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 13px;
    display: inline-flex
}
section .heroSection .heroCopy .header {
    max-width: 500px;
}
section .heroSection .heroCopy .header .chance {
    color: black;
    font-size: 25px;
    font-family: Kadwa;
    font-weight: 1000;
    line-height: 40px;
    word-wrap: break-word;
}
section .heroSection .heroCopy .header .qualityLife {
    color: #054B05;
    font-size: 25px;
    font-family: Kadwa;
    font-weight: 1000;
    line-height: 40px;
    word-wrap: break-word;
}
section .heroSection .heroCopy .subHeader {
    max-width: 500px;
    color: black;
    font-size: 14px;
    font-family: Kadwa;
    font-weight: 500;
    line-height: 20px;
    word-wrap: break-word
}
section .heroSection .button {
    width: 195px;
    height: 50px;
    margin-left: 15px;
    background: #FDDA0D;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    display: inline-flex;
    transition: background-color 0.3s ease;
}
section .heroSection .button:hover {
    background-color: rgba(253, 218, 13, 0.6);
}
section .heroSection .button .learnMore {
    color: black;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word
}
section .line3 {
    width: auto;
    height: 100%;
    border: 0.1rem #FDDA0D solid
}
.body2 {
    width: 90%;
}
section .welcomeToGoshenspring {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15px;
    background: white
}
section .welcomeToGoshenspring .left {
    max-width: 604px;
    margin: 0 auto 0 auto;
    padding-left: 20px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
section .welcomeToGoshenspring .left .headerText {
    width: 245px;
    height: auto;
}
section .welcomeToGoshenspring .left .headerText .welcome{
    color: black;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 700;
    line-height: 25px;
    word-wrap: break-word
}
section .welcomeToGoshenspring .left .headerText .ghs {
    color: #008000;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 25px;
    word-wrap: break-word
}
section .welcomeToGoshenspring .left .copy  {
    margin-top: 20px;
    width: 100%;
    color: black;
    font-size: 14px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
.tertiaryButton  {
    width: 159px;
    height: 100%;
    line-height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tertiaryButton .readMore {
    color: #FDDA0D;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.3s ease;
    align-self: center;
    word-wrap: break-word;
}
.tertiaryButton .readMore:hover {
    color: rgba(253, 218, 13, 0.6);
}
.tertiaryButton .frame6 {
    display: flex;
    align-items: center;
    position: relative;
    right: 3px;
}
.tertiaryButton .frame6 .icon1,
.tertiaryButton .frame6 .icon2,
.tertiaryButton .frame6 .icon3 {
    width: 22px;
    height: 20px;
    transition: opacity 0.3s ease;
}
.tertiaryButton .frame6 .icon1:hover,
.tertiaryButton .frame6 .icon2:hover,
.tertiaryButton .frame6 .icon3:hover {
    opacity: 0.4;
}
.tertiaryButton .frame6 .icon2 {
    position: relative;
    right: 15px;
}
.tertiaryButton .frame6 .icon3 {
    position: relative;
    right: 30px;
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay  {
    max-width: 610px;
    width: 100%;
    text-align: center;
    height: auto;
    margin: 60px auto 0 auto;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.07)
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .calendarIcon  {
    max-width: 115px;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 37px auto 0 auto;
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .calendarIcon .icon4  {
    width: 50px;
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .scheduleAnAssesment  {
    max-width: 372px;
    margin: 10px auto 0 auto;
    text-align: center;
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .scheduleAnAssesment .sch  {
    color: black;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 700;
    word-wrap: break-word
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .scheduleAnAssesment .ass  {
    color: #008000;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 700;
    word-wrap: break-word
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .oQTText  {
    max-width: 514px;
    margin: 15px auto 0 auto;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .button {
    text-align: center;
    margin: 30px auto 50px auto;
    display: inline-flex
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .learnMore {
    color: black;
    width: 227px;
    height: 50px;
    max-width: 310px;
    border-radius: 10px;
    background: #FDDA0D;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    transition: background-color 0.3s ease;
    align-items: center;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    display: inline-flex;
    word-wrap: break-word
}
section .welcomeToGoshenspring .scheduleAssessmentOverlay .learnMore:hover {
    background-color: rgba(253, 218, 13, 0.6);
}
.body3 {
    width: 90%;
}
section .line4 {
    width: auto;
    height: 100%;
    border: 0.1rem #FDDA0D solid
}
section .whatWeDo {
    height: auto;
    background: #008000;
    width: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
section .whatWeDo .wwdt {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 30px 0 0 20px;
}
section .whatWeDo .wwdt .headerText {
    width: 88%;
    position: relative;
    margin-right: auto;
    color: white;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word
}
section .whatWeDo .wwdt .copy {
    width: 88%;
    color: white;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
section .whatWeDo .hgfg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.skilledNursing,
.homeHealthAid,
.physicalTherapy,
.medicalSocialWork {
    width: 90%;
    height: 300px;
    background: linear-gradient(0deg, white 0%, white 100%);
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.skilledNursing {
    background-image: url(../images/59a19896503cf22bbee55f334e448fd6.jpeg);
    background-position: 0 -55px;
}
.frame15 {
    width: 100%;
    height: 50px;
    align-self: stretch;
    background: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}
.sN,
.hHA,
.pT,
.mSW {
    color: black;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
.homeHealthAid {
    background-image: url(../images/3173373a171eec78968ec7172990345c.jpeg);
    background-position: -65px 0;
}
.physicalTherapy {
    background-image: url(../images/b2c9a965d29cab8c7c3ef3bdb4b4e971.jpeg);
    background-position: 0 -85px;
}
.medicalSocialWork {
    background-image: url(../images/72441c232307b7f190082203c2a41789.jpeg);
    background-position: 0 -72px;
}
section .whatWeDo .button {
    width: 202px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0.50px #FDDA0D solid;
    transition: background-color 0.3s ease;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}
section .whatWeDo .button:hover {
    background-color: rgba(253, 218, 13, 0.6);
}
section .whatWeDo .button .learnMore {
    color: #FDDA0D;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word
}
.body4 {
    width: 90%;
}
section .line5 {
    width: auto;
    height: 100%;
    border: 0.1rem #FDDA0D solid
}
section .meetTheTeam {
    width: 100%;
    background-image: url(../images/df87d90b710a9d400f3297c2d6d60f9f.jpeg);
    height: 450px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    background-position: center;
}
section .meetTheTeam .ellipse3 {
    width: 250px;
    height: 250px;
    background: black;
    border-radius: 9999px
}
section .meetTheTeam .primaryButton {
    width: 202px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    background: #FDDA0D;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: inline-flex
}
section .meetTheTeam .primaryButton:hover {
    background-color: rgba(253, 218, 13, 0.6);
}
section .meetTheTeam .primaryButton .learnMore {
    color: black;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 35px;
    word-wrap: break-word
}
.body5 {
    width: 90%;
}
section .line6 {
    width: auto;
    height: 100%;
    border: 0.1rem #FDDA0D solid
}
section .oCR {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F3FDF3
}
section .oCR .oC {
    max-width: 536px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 50px auto 0 auto;
}
section .oCR .oC .oCt {
    height: auto;
    width: 190px;
}
section .oCR .oC .oCt .oCnt {
    color: black;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word
}
section .oCR .oC .oCt .mS {
    color: #008000;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word
}
section .oCR .oC .copy {
    margin-top: 20px;
    width: 100%;
    color: black;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
}
section .oCR .sAO {
    max-width: 648px;
    width: 100%;
    text-align: center;
    height: auto;
    margin: 50px auto 0 auto;
    background: rgba(255, 255, 255, 0.70);
    box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.07)
}
section .oCR .sAO .mail {
    max-width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 37px auto 0 auto ;
}
section .oCR .sAO .mail .icon5 {
    width: 50px;
}
section .oCR .sAO .headerText {
    max-width: 254px;
    margin: 10px auto 0 auto;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 700;
    word-wrap: break-word
}
section .oCR .sAO .copy {
    max-width: 519px;
    margin: 15px auto 0 auto;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
section .oCR .sAO .button {
    text-align: center;
    margin: 30px auto 50px auto;
    display: inline-flex
}
section .oCR .sAO .button .learnMore{
    color: black;
    width: 227px;
    height: 50px;
    max-width: 310px;
    border-radius: 10px;
    background: #FDDA0D;
    margin: 0 auto;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    display: inline-flex;
    word-wrap: break-word;
}
section .oCR .sAO .button .learnMore:hover {
    background-color: rgba(253, 218, 13, 0.6);
}
.body6 {
    width: 90%;
}
section .line7 {
    width: auto;
    height: 100%;
    border: 0.1rem #FDDA0D solid
}
section .feedback {
    width: 100%;
    background-image: url(../images/e008509d51bf9c1daa62eefc7bd6c33c.jpeg);
    height: 450px;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex
}
.fb_overlay {
    position: absolute;
    height: 450px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    display: block;
}
section .feedback .sAO {
    width: 90%;
    max-width: 650px;
    height: 360px;
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 15px;
    background: white;
    box-shadow: 0px 15px 30px 5px rgba(0, 0, 0, 0.07);
}
section .feedback .sAO .bulbIcon {
    height: 50px;
    margin-top: 30px;
    max-width: 100px;
    background-image: url(../images/bulb.svg);
    background-size: 50px;
}
section .feedback .sAO .bulbIcon .ellipse4 {
    width: 50px;
    max-width: 150px;
    border-radius: 9999px;
    border: 1.50px #008000 solid
}
section .feedback .sAO .headerText {
    color: black;
    max-width: 328px;
    font-size: 20px;
    text-align: center;
    font-family: Kadwa;
    margin: 0 auto 0 auto;
    font-weight: 700;
    word-wrap: break-word
}
section .feedback .sAO .copy {
    max-width: 467px;
    text-align: center;
    color: black;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 20px;
    word-wrap: break-word
}
section .feedback .sAO .button {
    margin-top: 50px;
}
section .feedback .sAO .button .learnMore {
    color: black;
    font-size: 16px;
    font-family: Kadwa;
    width: 247px;
    max-width: 310px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    height: 50px;
    background: #FDDA0D;
    transition: background-color 0.3s ease;
    line-height: 25px;
    display: flex;
    word-wrap: break-word
}
section .feedback .sAO .button .learnMore:hover {
    background-color: rgba(253, 218, 13, 0.6);
}
.body7,
.body10 {
    width: 90%;
}
.body10 {
    background-color: #F3FDF3;
}
footer {
    padding: 10px 0;
    width: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    display: flex
}
footer .logo2 {
    margin-left: 15px;
}
footer .location,
footer .phoneNumber {
    margin-left: 15px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    display: flex
}
footer .location .locateUsAt,
footer .phoneNumber .callUsOn {
    color: black;
    font-size: 20px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word
}
footer .location .address,
footer .phoneNumber .number {
    align-self: stretch;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: inline-flex
}
footer .location .address .markerPin,
footer .phoneNumber .number .phone {
    display: flex
}
footer .location .address .markerPin .icon10,
footer .phoneNumber .number .phone .icon9 {
    width: 16px;
    height: 16px;
}
footer .location .address .fvct,
footer .phoneNumber .number .num {
    color: #333333;
    font-size: 16px;
    font-family: Kadwa;
    font-weight: 400;
    word-wrap: break-word
}
footer .nav-bar {
    display: none;
}
.body9 {
    width: 100%;
}
.formPageTitle {
    display: none;
}
svg {
    height: auto;
}
path {
    height: auto;
}
.arrow {
    cursor: pointer;
    height: 35px;
}
.arrow, .rqI {
    align-self: flex-start;
}
.rqI {
    margin-left: 10px;
    color: #FF0000;
    font-family: Kadwa;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}
.rqI > span:first-child {
    font-size: 18px;
}
.rqI > span:nth-child(2) {
    font-size: 16px;
}
.frame40 {
    width: 93%;
    height: 3px;
    margin: 0 auto 20px auto;
    background: black;
    border-radius: 5px
}
.body8 {
    background-color: white;
    width: 90%;
}
label {
    display: block;
}
input,
select,
textarea {
    font-family: Kadwa;
    outline: none;
    font-style: normal;
    padding: 17px 0 18px 21px;
    border: 0.5px solid rgba(153, 157, 160, 0.40);
    background-color: white;
}
input:hover,
select:hover,
textarea:hover {
    border-color: #FDDA0D;
}
input:focus,
select:focus,
textarea:focus {
    border-color: #008000;
}
input::placeholder,
textarea::placeholder {
    color: rgba(128, 128, 128, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.part1 div,
.part3 div,
.part4 div,
.part5 > div,
.part6 div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 15px;
}
.part1 div label,
.part2 > div > label,
.part3 div label,
.part4 div,
.part5 > div > div:first-child,
.part6 div {
    font-weight: 700;
}
.part1 div label > span:first-child,
.part2 > div > label > span:first-child,
.part3 div label > span:first-child,
.part4 div label > span:first-child,
.part5 > div > div:first-child span:first-child,
.part6 div label > span:first-child {
    color: #333;
    line-height: 15px;
    font-size: 16px;
}
.part1 div label > span:nth-child(2),
.part2 > div > label > span:nth-child(2),
.part3 div:nth-child(7) label > span:nth-child(2),
.part4 div label > span:nth-child(2),
.part5 > div > div:first-child span:nth-child(2),
.part6 div label > span:nth-child(2) {
    color: #F00;
    line-height: 20px;
    font-size: 25px;
}
.part5 > div > div:nth-child(2) {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: 20px;
    margin-right: 60px;
}
.part5 > div > div:nth-child(2) div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.part5 > div > div:nth-child(2) label {
    color: #333;
    font-family: Kadwa;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}
.part5 > div:nth-child(6) > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 40px;
}
.part2 > div > label {
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}
.part2 > div > div {
    margin: 25px 0;
}
.part2 > div > div > div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.part2 > div > div > div > label {
    color: #333;
    font-size: 17px;
    font-weight: 400;
}
.part2 input,
.part5 > div > div:nth-child(2) input {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    padding: 0;
    border: none;
    outline: 0.1px solid #999DA0;;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part2 input:hover,
.part5 > div > div:nth-child(2) input:hover {
    background-color: #a5a5a5;
}
.part2 input:checked,
.part5 > div > div:nth-child(2) input:checked {
    background-color: #008000;
}
textarea {
    height: 166px;
    padding: 31px 0 0 16px;
}
.referCP {
    display: flex;
    gap: 10px;
    align-items: center;
    border-right: none;
    border-left: none;
    border-top: 0.50px rgba(153, 157, 160, 0.70) solid;
    border-bottom: 0.50px rgba(153, 157, 160, 0.70) solid;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    margin: 35px 0;
}
.referCP p {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #000;
    font-weight: 400;
}
.referCircle {
    width: 35px;
    height: 35px;
    background-color: #008000;
    border-radius: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.referPlus {
    height: auto;
    width: auto;
    font-weight: 900px;
    font-size: 40px;
    font-family: Kadwa;
    font-weight: 700;
    line-height: 30px;
    word-wrap: break-word;
    align-self: center;
    align-items: center;
    align-content: center;
    color: white;
}
.data-form {
    margin-top: 20px;
}
.frame41 {
    width: 93%;
    height: 2px;
    margin: 20px auto;
    background: #FDDA0D;
    border-radius: 5px;
}
.remove-form {
    background-color: red;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    margin: 20px 0;
    font-weight: 400px;
}
.isLoading {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
}
.ianar {
    height: 79px;
    width: 293px;
    display: flex;
    border-radius: 10px;
    margin-top: 35px;
    background: rgba(239.26, 239.26, 239.26, 0.45);
    justify-content: space-evenly;
    align-items: center;
}
.ianar .check-ianar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.ianar .check-ianar label {
    color: #808080;
    font-size: 15px;
    font-family: Roboto Flex;
    font-weight: 400;
    line-height: 20px;
}
.chkb {
    width: 35px;
    height: 35px;
    padding: 0;
    border-radius: 10px;
    border: none;
    outline: 0.1px solid #999DA0;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chkb:hover {
    background-color: #a5a5a5;
}
.chkb:focus {
    border-color: none;
}
.chkb:checked {
    background-color: #008000;
}
.ianar .reCAPTCHA {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ianar .reCAPTCHA .imageRecapt {
    width: 53px;
    height: 45px;
}
.ianar .reCAPTCHA p {
    color: #808080;
    font-size: 11px;
    font-family: Roboto Flex;
    font-weight: 400;
    word-wrap: break-word
}
.ianar .reCAPTCHA div {
    display: flex;
    justify-content: center;
    gap: 2px;
}
.form-submit {
    width: 195px;
    height: 50px;
    color: black;
    background-color: #FDDA0D;
    font-size: 16px;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    outline: none;
    padding: 0;
    border-radius: 10px;
    font-family: Kadwa;
    font-weight: 400;
    line-height: 25px;
    word-wrap: break-word;
    transition: background-color 0.3s ease;
    cursor: pointer;
}
.form-submit:hover {
    background-color: rgba(253, 218, 13, 0.6);
}
@media screen and (min-width: 450px) and (max-width: 877px) {
    header .nav-bar .logo1 {
        margin-left: 30px;
    }
    header .nav-bar .closeButton {
        margin-right: 30px;
    }
}
@media screen and (max-width: 877px) {
    section .heroSection1 {
        display: none;
    }
    .nav-bar nav .nav-list li:first-child a {
        width: 100%;
        justify-content: center;
    }
}
@media screen and (min-width: 320px) and (max-width: 359px) {
    footer .location .fvct {
        line-height: 20px;
        width: auto;
    }
    section .whatWeDo .hgfg .headerText {
        width: auto;
    }
    .gshcs2 {
        height: auto;
        width: 125px;
    }
}
@media screen and (min-width: 474px) {
    .skilledNursing,
    .homeHealthAid,
    .physicalTherapy,
    .medicalSocialWork {
        max-width: 429px;
        height: 456px;
    }
}
@media screen and (min-width: 500px) {
    section .welcomeToGoshenspring {
        background-color: #F3FDF3;
    }
    section .welcomeToGoshenspring .left {
        padding-left: 0;
    }
    section .welcomeToGoshenspring .scheduleAssessmentOverlay  {
        border-radius: 20px;
        margin-bottom: 50px;
    }
    section .oCR .sAO {
        border-radius: 20px;
        margin-bottom: 50px;
    }
}
@media (min-width: 510px) {
    form .part5 .eachDiv .op1 {
        width: 300px;
    }
}
@media screen and (min-width: 550px) {
    section .heroSection {
        background-size: 650px;
    }
}
@media screen and (min-width: 700px) {
    section .heroSection {
        background-size: 800px;
    }
    section .welcomeToGoshenspring .left .headerText {
        width: 245px;
    }
}
@media screen and (min-width: 722px) {
    section .whatWeDo .wwdt {
        margin-left: 0;
        text-align: center;
    }
    section .whatWeDo .wwdt .headerText,
    section .whatWeDo .wwdt .copy {
        width: 100%;
    }
    section .feedback .sAO {
        border-radius: 20px;
    }
}
@media screen and (min-width: 878px) {
    header {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 0;
        padding: 0;
        flex-wrap: wrap;
        padding-top: 30px;
    }
    header .hamburgerMenu {
        display: none;
    }
    header .nav-bar {
        transform: translateX(0%);
        height: auto;
        position: relative;
        width: 100%;
    }
    header .nav-bar .logo1,
    header .nav-bar .closeButton {
        display: none;
    }
    .nav_overlay.active {
        display: none;
    }
    .logo2 {
        margin-left: 30px;
        margin-bottom: 30px;
        width: auto;
        height: 100%;
        display: flex;
        align-items: center;
        align-self: center;
    }
    .logo2 .image1 {
        width: 75px;
        height: 75px;
    }
    .logo2 .gshcs {
        height: auto;
        width: 240px;
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        word-wrap: break-word;
    }
    header .cntct {
        margin-right: 30px;
        margin-bottom: 30px;
        height: auto;
        display: flex;
        align-items: flex-start;
        align-self: flex-start;
        flex-direction: column;
    }
    header .cntct .lctn,
    header .cntct .phnm {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 6px;
    }
    header .cntct .lctn .mrkpn,
    header .cntct .phnm .pnh {
        display: flex;
    }
    header .cntct .lctn .mrkpn .icon11,
    header .cntct .phnm .pnh .icon12 {
        width: 20px;
        height: 20px;
    }
    header .cntct .lctn .fldvwln, 
    header .cntct .phnm .cllnm {
        color: #333333;
        font-size: 18px;
        font-family: Kadwa;
        font-weight: 400;
        word-wrap: break-word
    }
    .nav-bar {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .line8 {
        display: block;
    }
    .nav-bar .nav-list {
        width: 100%;
        height: 99px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        position: relative;
    }
    .nav-bar .nav-list li {
        margin: auto 0;
    }
    .nav-bar .nav-list li:first-child {
        background-color: #008000;
        width: auto;
        margin: auto 0;
    }
    .nav-bar .nav-list li a {
        position: relative;
        display: inline-block;
        font-size: 20px;
        font-family: Kadwa;
        font-weight: 400;
        text-transform: capitalize;
        transition: transform 0.3s ease;
        word-wrap: break-word
    }
    .nav-bar .nav-list li a .link-text {
        display: inline-block;
        transition: transform 0.3s ease;
    }
    .nav-bar .nav-list li a::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 90%;
        margin-left: 6%;
        height: 2px;
        background: #FDDA0D;
        border-radius: 40px;
        transform: scaleX(0);
    }
    .nav-bar .nav-list li:first-child a::before {
        background: white;
    }
    .nav-bar .nav-list li a:hover .link-text {
        color: #FDDA0D;
        transform: translateY(-5px);
    }
    .nav-bar .nav-list li a:hover::before {
        transform: scaleX(1);
    }
    .nav-bar .nav-list li:first-child a .link-text:hover {
        color: white;
    }
    .nav-bar .nav-list li:first-child a {
        height: auto;
        color: #FDDA0D;
    }
    .nav-bar .hamburgerMenu {
        display: none;
    }
    .logo1 {
        display: none;
    }
    .closeButton {
        display: none;
    }
    .body1, .body2, .body3, .body4, .body5, .body6, .body7, .body10 {
        width: 100%;
    }
    section .heroSection {
        height: 796px;
        justify-content: space-around;
        gap: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    section .heroSection .heroCopy{
        gap: 20px;
        margin-left: 70px;
        margin-top: 0;
    }
    section .heroSection .heroCopy .header {
        max-width: 850px;
    }
    section .heroSection .heroCopy .subHeader {
        font-size: 25px;
        line-height: 35px;
        margin-top: 50px;
        max-width: 824px;
    }
    section .heroSection .heroCopy .header .chance,
    section .heroSection .heroCopy .header .qualityLife {
        height: 100%;
        font-size: 60px;
        line-height: 80px;
    }
    section .heroSection .button {
        width: 310px;
        height: 75px;
        margin-left: 70px;
    }
    section .heroSection .button .learnMore {
        font-size: 20px;
    }
    section .welcomeToGoshenspring .left .headerText {
        width: 492px;
        line-height: 50px;
    }
    section .welcomeToGoshenspring .left .headerText .welcome,
    section .welcomeToGoshenspring .left .headerText .ghs {
        font-size: 35px;
    }
    section .welcomeToGoshenspring .left .copy {
        font-size: 20px;
        font-weight: 400;
        line-height: 35px;
        width: 100%;
    }
    .tertiaryButton {
        width: 240px;
    }
    .tertiaryButton .readMore {
        font-size: 25px;
    }
    .tertiaryButton .frame6 .icon1,
    .tertiaryButton .frame6 .icon2,
    .tertiaryButton .frame6 .icon3 {
        width: 30px;
        height: 30px;
    }
    .tertiaryButton .frame6 .icon2 {
        right: 20px;
    }
    .tertiaryButton .frame6 .icon3 {
        right: 40px;
    }
    section .welcomeToGoshenspring .scheduleAssessmentOverlay .oQTText {
        width: 300px;
        margin: 0 auto;
    }
    section .welcomeToGoshenspring .scheduleAssessmentOverlay .calendarIcon .icon4  {
        width: 100%;
    }
    section .welcomeToGoshenspring .scheduleAssessmentOverlay .scheduleAnAssesment .sch,
    section .welcomeToGoshenspring .scheduleAssessmentOverlay .scheduleAnAssesment .ass {
        font-size: 30px;
    }
    section .welcomeToGoshenspring .scheduleAssessmentOverlay .oQTText {
        width: 100%;
        font-size: 25px;
        line-height: 45px;
    }
    section .welcomeToGoshenspring .scheduleAssessmentOverlay .button {
        width: 100%;
    }
    section .welcomeToGoshenspring .scheduleAssessmentOverlay .learnMore {
        width: 100%;
        height: 75px;
        font-size: 20px;
    }
    section .whatWeDo {
        gap: 40px;
    }
    section .whatWeDo .wwdt {
        gap: 30px;
    }
    section .whatWeDo .wwdt .headerText {
        font-size: 35px;
    }
    section .whatWeDo .wwdt .copy {
        font-size: 25px;
    }
    .frame15 {
        height: 71px;
    }
    .sN,
    .hHA,
    .pT,
    .mSW {
        font-size: 20px;
    }
    section .whatWeDo .button {
        width: 310px;
        height: 75px;
        margin-top: 20px;
        margin-bottom: 40px;
    }
    section .whatWeDo .button .learnMore {
        font-size: 20px;
    }
    section .meetTheTeam {
        height: 811px;
    }
    section .meetTheTeam .ellipse3 {
        width: 560px;
        height: 560px;
    }
    section .meetTheTeam .primaryButton {
        width: 310px;
        height: 75px;
    }
    section .meetTheTeam .primaryButton .learnMore {
        font-size: 25px;
    }
    section .oCR .oC {
        height: 407px;
        justify-content: center;
    }
    section .oCR .oC .oCt {
        width: 333px;
    }
    section .oCR .oC .oCt .oCnt {
        font-size: 35px;
    }
    section .oCR .oC .oCt .mS {
        font-size: 25px;
        line-height: 50px;
    }
    section .oCR .oC .copy {
        font-size: 20px;
        line-height: 40px;
    }
    section .oCR .oC .tertiaryButton {
        height: auto;
        margin-top: 40px;
    }
    section .oCR .sAO .mail .icon5 {
        width: 100%;
    }
    section .oCR .sAO .headerText {
        font-size: 30px;
    }
    section .oCR .sAO .copy {
        width: 100%;
        font-size: 25px;
        line-height: 50px;
    }
    section .oCR .sAO .button {
        width: 100%;
    }
    section .oCR .sAO .button .learnMore{
        width: 100%;
        height: 75px;
        font-size: 20px;
    }
    section .feedback {
        height: 741px;
    }
    .fb_overlay {
        width: 100%;
        height: 741px;
    }
    section .feedback .sAO {
        height: 592.8px;
    }
    section .feedback .sAO .bulbIcon {
        height: 100px;
        margin-top: 60px;
        width: 100px;
        background-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section .feedback .sAO .bulbIcon .ellipse4 {
        width: 150px;
    }
    section .feedback .sAO .headerText {
        margin-top: 20px;
        font-size: 30px;
    }
    section .feedback .sAO .copy {
        font-size: 25px;
        line-height: 50px;
    }
    section .feedback .sAO .button {
        margin-top: 20px;
        width: 100%;
    }
    section .feedback .sAO .button .learnMore {
        width: 100%;
        height: 75px;
        font-size: 20px;
    }
    footer {
        padding-top: 50px;
        padding-bottom: 0;
        display: flex;
        gap: 0;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        flex-wrap: wrap;
    }
    footer .logo2 {
        height: 100%;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    footer .location,
    footer .phoneNumber {
        height: auto;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 10px;
    }
    footer .phoneNumber {
        margin-right: 50px;
    }
    footer .nav-bar {
        display: block;
    }
    .arrow {
        display: none;
    }
    .body8 {
        width: 80%;
        margin: 80px 800px;
        padding: 50px 30px;
    }
    section .heroSection1 {
        display: flex;
        width: auto;
        height: auto;
    }
    section .heroSection1 img {
        width: 100%;
        height: 100%;
    }
    .formPageTitle {
        width: auto;
        height: 100%;
        color: #008000;
        font-size: 25px;
        font-family: Kadwa;
        font-weight: 700;
        line-height: 30px;
        word-wrap: break-word;
        margin: 0 auto;
        position: relative;
        top: 40px;
        display: block;
    }
    .rqI {
        margin-left: 30px;
        font-weight: 700;
    }
    .rqI > span:first-child,
    .rqI > span:nth-child(2) {
        font-size: 25px;
        line-height: 30px;
    }
    .frame40 {
        margin: 0 0 20px 30px;
        height: 5px;
        width: 92%;
    }
    input::placeholder,
    textarea::placeholder {
        font-size: 16px;
    }
    .part1 {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        gap: 30px 100px;
        margin-bottom: 40px;
    }
    form[name="goshenspring-healthcare-services"] .part4 {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        gap: 0 80px;
    }
    .data-form .part6 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 80px;
    }
    .part1 div:first-child {
        grid-column: span 2;
    }
    .part1 div {
        margin-bottom: 0;
    }
    .part5 > div > div:first-child {
        text-transform: uppercase;
    }
    .part1 div label > span:first-child,
    .part2 > div > label > span:first-child,
    .part3 div label > span:first-child,
    .part4 div label > span:first-child,
    .part5 > div > div:first-child span:first-child,
    .part6 div label > span:first-child {
        font-size: 20px;
        line-height: 20px;
    }
    .part2 > div > label {
        text-align: left;
    }
    .part2 > div > div {
        display: flex;
        justify-content: space-between;
    }
    .part2 > div > div > div {
        padding-left: 0;
    }
    .part2 > div > div > div > label {
        font-size: 18px;
        font-weight: 700;
    }
    .part2 input,
    .part5 > div > div:nth-child(2) input {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .part3 {
        display: grid;
        grid-template: repeat(3, 1fr) / 1fr 1fr;
        gap: 30px 100px;
    }
    .part3 div:last-child {
        grid-column: span 2;
    }
    .part5 > div {
        margin-bottom: 40px;
    }
    .part5 > div > div:nth-child(2) {
        margin-right: auto;
        margin-left: 30px;
        gap: 15px 50px;
    }
    .part5 > div > div:nth-child(2) div {
        justify-content: space-between;
        gap: 70px;
    }
    .part5 > div > div:first-child span:first-child {
        font-size: 20px;
        font-weight: 700;
    }
    .part5 > div > div:nth-child(2) label {
        font-size: 16px;
    }
    .part5 > div:nth-child(6) > div:nth-child(2) {
        justify-content: flex-start;
        gap: 100px;
        padding: 0 30px;
    }
    .referCP {
        gap: 20px;
    }
    .referCP p {
        font-size: 25px;
    }
    .referCircle {
        width: 53px;
        height: 53px;
        border-radius: 26.5px;
    }
    .referPlus {
        font-size: 55px;
    }
    .ianar {
        height: 92px;
        width: 378px;
        margin-top: 45px;
    }
    .form-submit {
        width: 310px;
        height: 75px;
        font-size: 20px;
        margin-top: 35px;
        margin-bottom: 45px;
    }
}
@media screen and (min-width: 1018px) {
    .logo2 .gshcs {
        width: 270px;
        font-size: 30px;
        line-height: 40px;
    }
    header .cntct .lctn .mrkpn .icon11,
    header .cntct .phnm .pnh .icon12 {
        width: 30px;
        height: 30px;
    }
    header .cntct .lctn .fldvwln,
    header .cntct .phnm .cllnm {
        font-size: 25px;
    }
    footer .location,
    footer .phoneNumber {
        margin-top: 7px;
    }
    footer .location .locateUsAt,
    footer .phoneNumber .callUsOn {
        font-size: 25px;
    }
    footer .location .address .fvct,
    footer .phoneNumber .number .num {
        font-size: 20px;
    }
    footer .location .address .markerPin .icon10,
    footer .phoneNumber .number .phone .icon9 {
        width: 30px;
        height: 30px;
    }
}
@media screen and (min-width: 1100px) {
    .logo2 {
        margin-left: 40px;
    }
    .cntct {
        margin-right: 40px;
    }
}
@media screen and (min-width: 1230px) {
    section .welcomeToGoshenspring {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 0;
        margin-bottom: 70px;
        margin-top: 70px;
    }
    section .welcomeToGoshenspring .left {
        justify-content: space-between;
    }
    section .welcomeToGoshenspring .scheduleAssessmentOverlay {
        margin-bottom: 0;
        margin-top: 30px;
    }
    section .whatWeDo .hgfg {
        justify-items: center;
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr; 
        gap: 70px 120px;
    }
    section .oCR {
        flex-direction: row;
        justify-content: center;
        padding-top: 0;
        margin-bottom: 70px;
        margin-top: 70px;
    }
    section .oCR .oC {
        margin-top: 150px;
    }
    section .oCR .oC .tertiaryButton {
        margin-top: 80px;
    }
    section .feedback {
        background-position: 0 -100px;
    }
}
@media screen and (min-width: 1300px) {
    section .heroSection {
        background-size: 1600px;
    }
}